In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Read dataset
df=pd.read_csv("MS.csv")

In [4]:
df.head()

   Satisfaction  Loyalty
0             4    -1.33
1             6    -0.28
2             5    -0.99
3             7    -0.29
4             4     1.06

In [5]:
df.describe()

       Satisfaction    Loyalty
count     30.000000  30.000000
mean       6.400000   0.001000
std        2.620871   1.016476
min        1.000000  -1.690000
25%        4.250000  -0.967500
50%        7.000000   0.150000
75%        8.750000   0.947500
max       10.000000   1.380000

In [ ]:
# From this we can see the statifaction range from 1 to 10 
# While Loyalty range from -1.69 to 1.38